name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git python3 python3-dev zip unzip zlib1g-dev libffi-dev libssl-dev
          pip3 install --user --upgrade Cython==0.29.33 buildozer virtualenv

      - name: Build with Buildozer
        run: |
          # Ez a parancs indítja a tényleges fordítást
          buildozer android debug
          
